<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-sm-12 col-lg-6 mb-3">
      <%= form.label :title, "Título", class: 'mb-1' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="col-12 col-sm-12">
      <%= form.label :description, "Descrição", class: 'mb-1' %>
      <%= form.text_area :description, rows: 10, class: 'form-control' %>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <%= link_to tasks_path, class: 'px-3 btn btn-sm border text-dark me-1' do %>
      <i class="fa-solid fa-reply me-1"></i> Voltar
    <% end %>
    <%= button_tag(type: 'submit', class: 'px-3 btn btn-sm btn-success me-1', id: 'btn-salvar') do %>
      <i class="fa-solid fa-floppy-disk me-1"></i> Salvar
    <% end %>
  </div>
<% end %>


